# General settings
DJANGO_DEBUG=true
DJANGO_SECRET_KEY="ACA-VA-EL-HASH-SEGURO"
DJANGO_ALLOWED_HOSTS=*,127.0.0.1

# DATABASE_URL=postgres://usuario:password123@localhost:5432/basededatos
# SQLite
DATABASE_URL=sqlite:///mydb.db

DJANGO_SECURE_SSL_REDIRECT=False

PROJECT_NAME_HEADER=ClicOH
PROJECT_NAME_TITLE=ClicOH
